@use "./components/navbar.scss";

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-family: "Mona Sans";
}

body {
  background-image: url("../assets/images/flower.jpg");
  background-repeat: no-repeat;
  background-position: 97% 65%;

  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 35em) {
  body {
    background-position: 95% 65%;
  }
}
