$width: 40px;
$thickness: 6.3px;

#hamburg {
  display: none;
  /* Width */
  min-width: $width;
  height: 45px;
  position: relative;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;

    /* Thickness */
    height: $thickness;
    width: 50%;

    background: darkslategray;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    &:nth-child(odd) {
      left: 0px;
      border-radius: 9px 0 0 9px;
    }

    /* #region Gap */
    &:nth-child(1),
    &:nth-child(2) {
      top: 8px;
    }

    &:nth-child(3),
    &:nth-child(4) {
      top: 20px;
    }

    &:nth-child(5),
    &:nth-child(6) {
      top: 32px;
    }

    /* #endregion */
  }
}

#hamburg.open {
  span {
    &:nth-child(1),
    &:nth-child(6) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:nth-child(2),
    &:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:nth-child(1) {
      left: 3.9px;
      top: 12px;
    }

    &:nth-child(2) {
      left: calc(50% - 3px);
      top: 12px;
    }

    &:nth-child(3) {
      left: -50%;
      opacity: 0;
    }

    &:nth-child(4) {
      left: 100%;
      opacity: 0;
    }

    &:nth-child(5) {
      left: 3.9px;
      top: 25px;
    }

    &:nth-child(6) {
      left: calc(50% - 3px);
      top: 25px;
    }
  }
}
