@use "./hamburger.scss";

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-nav {
  display: flex;
  gap: 3rem;
  padding: 2rem;

  background: hsl(0 0% 80% / 0.6);

  a {
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1rem;
    color: #465461;
  }
}

.web-logo {
  position: relative;

  width: 5rem;
  height: 3.2rem;

  margin: 2rem;
  overflow-y: clip;

  img {
    position: absolute;
    top: 0.4rem;

    display: flex;
    justify-content: center;
    object-fit: cover;
  }
}

@supports (backdrop-filter: blur(1rem)) {
  .primary-nav {
    background: hsl(0 0% 80% / 0.3);
    backdrop-filter: blur(1rem);
  }
}

@media (max-width: 35em) {
  .primary-nav {
    display: flex;
    position: fixed;
    inset: 0 0 0 40%;

    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    z-index: 1000;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: none;
    border: none;

    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .primary-nav.open {
    transform: translateX(0%);
  }
}
