.tag-page-header {
  margin-top: 1.5rem;
  margin-left: 1rem;
  .back-button {
    background-color: #76987f;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 700;
  }
}
