.container {
  overflow-x: hidden; 
  white-space: nowrap;
  margin: 0 60px;
}

.container h2{
  margin-left: 8px;
  margin-top: 10px;
}

.root_container{
  align-items: center;
}

.cards_container {
  color: black;
  display: inline-flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 90px;
}

.insideInfo {
  background-color: black;
  margin: 4px 5px;
  padding: 10px 4px;
  width: 28vw;
  height: 37vh;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.cardTitle {
  width: 35%;
  text-align: left;
}

.details{
  margin-left: 6px;
  margin-top: 15px;
}
