.container {
  overflow-x: hidden; 
  white-space: nowrap;
  margin: 0 12px;
}

// .navigation-buttons {
//   display: flex;
//   justify-content: space-between; 
//   margin-bottom: 10px; 
// }

.cards_container {
  color: blanchedalmond;
  display: inline-flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.insideInfo {
  background-color: black;
  margin: 4px 5px;
  padding: 10px 4px;
  width: 30vw;
  height: 40vh;
  align-items: center;
  margin: auto;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.cardTitle {
  width: 35%;
  text-align: left;
}
