.cards_container {
  color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

.insideInfo {
  background-color: black;
  margin: 4px 5px;
  padding: 10px 4px;
  width: 30vw;
  height: 50vh;
  align-items: center;
  margin: auto;
  border-radius: 20px;
}
