.tags {
  padding-bottom: 10rem;
  li {
    // make it look a like a button
    display: inline-block;

    // add some margin between tags
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    background-color: #76987F;
    color:white;

    padding: 0.25rem 1rem;
    border-radius: 5px;

    cursor: pointer;

  }
}
